.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background: rgb(0, 0, 0);
    color: white;
    height: 93.5vh;
}

.content {
    padding: 5px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px;
}

.sidebar a:hover {
    background-color: skyblue;
}

.active {
    background: rgb(9, 154, 237);
    border-right: solid 8px orange;
}

.card-data{
    border: solid 1px;
    padding: 20px 50px;
    color: white; 
}

.card-data.book{
    background-color: teal;
}

.card-data.category{
    background-color: rgb(208, 117, 57);
}

.card-data.user{
    background-color: blueviolet;
}

.card-data i{
    font-size: 80px;
}

.card-count{
    font-size: 30px;
}

.card-desc{
    font-size: 30px;
}

